* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ;
}

html,body {
    height: 100%;
    width: 100%;
    background-color:black;

}
/* h1{
    color: aqua;
}
.diff{
    background-color: bisque;
}

.box1{
    height: 300px;
    width: 400px;
    background-color: red;
    margin-top: 50px ;
}
.box2{
    height: 100px;
    width: 200px;
    background-color: rgb(38, 33, 198);
    margin-top: 50px ;
}
.inner{
    height: 100px;
    width: 200px;
    padding: 30px;
    background-color: violet;
}
button{
    margin: 50px;
    padding: 10px;
    background-color: royalblue;
    border: 10px;
}
.box3{
     height: 100px;
    width: 200px;
    background-color: brown;
    border: 5px solid rgb(38, 33, 128);
} */
 /* /* */
 .parent{
    height: 100px;
    width: 300px;
    display: flex;




 }
 .child1{
height: 100%;
width: 100px;
background-color: blue; 
}
 .child2{
height: 100%;
width: 100px;
background-color:green;
 }
 .child3{
height: 100%;
width: 100px;
background-color: violet;
 }
